<div class="container">
  <div class="row">
    <div class="item-a">
        <div class="copyright">
          © ООО «YourTender», 2019-2019
        </div>
    </div>
    <div class="item-b" >
       <ul class="social">
         <li>
            <a class="soc_image" [routerLink]="['/']">
                <img  src="/assets/pic/Analitik.png">
            </a>
         </li>
         <li>
            <a class="soc_image" [routerLink]="['/']">
                <img  src="/assets/pic/List.png">
            </a>
        </li>
        <li>
            <a class="soc_image" [routerLink]="['/']">
                <img src="/assets/pic/Search.png">
            </a>
        </li>
        <li>
            <a class="soc_image" [routerLink]="['/']">
                <img src="/assets/pic/vk.png">
            </a>
        </li>
        <li>
            <a class="soc_image" [routerLink]="['/']">
                <img  src="/assets/pic/gdrive.png">
            </a>
        </li>
       </ul>
    </div>
  </div>
</div>