<section class="content_grid">


  <div class="menu">
      <app-menu-content>Фильтры (+)</app-menu-content>
    </div>

  <div class="content">
    <div class="left">
        <div class="chat-messages">
            <div class="source-msg">Добрый день! Предоставте пожалуйста более подробную информацию о вашей компании</div>
            <div class="dest-msg">Выполним строительные работы любой сложности - Бригада монолитчиков от 60 человек (Арматурщики, Монтажники, Плотники, Бетонщики, Сварщики, Звеневые, Бригадир). Хорошее знание своего дела (Чтение чертежей), качественное выполнение поставленных задач, опыт работы 8 лет. Цены рыночные, средняя цена м3. – 3500 р. Конечная цифра зависит от сложности конструктива. Конкретные предложения присылайте на почту (желательно с проектной документацией). Также имеются специалисты других профилей.</div>
            <div class="source-msg">Отлично, наш менеджер сейчас свяжется с вами для выяснения деталей</div>
          </div>
          <div class="chat-toolbar">
            <button>Отправить</button>
            <button>Загрузить документ</button>
          </div>
          <div class="chat-area">
            <textarea placeholder="Введите сообщение"></textarea>
          </div>
    </div>
    <div class="right">
      <div class="block-user">
        <h4>Исполнитель</h4>
        <div class="photo"></div>
        <p><label>ФИО</label>Петров Василий Николаевич</p>
        <p><label>Телефон</label>+79168754364</p>
        <p><label>Юр. лицо</label>ООО "ТабуретСтрой"</p>
      </div>
      <div class="block-user">
        <h4>Заказчик</h4>
        <div class="photo"></div>
        <p><label>ФИО</label>Иванов Иван Сергеевич</p>
        <p><label>Телефон</label>+79164374422</p>
        <p><label>Юр. лицо</label>АО "Бутово-парк"</p>
      </div>
    </div>




  </div>

</section>

