<div class="container_block">
  <div class="top_block">
    <!--<div class="top_block_content">
        <h1>СОЗДАЙ СВОЙ АУКЦИОН ПРЯМО СЕЙЧАС</h1>
       <div class="cont_button"><a  class="cont_button_a" href="">Регистрация</a></div>
    </div>-->
  </div>
  <div class="middle_block">
      <section>
          <div class="middle_block_cont">
            <div class="m-item-a">
                <i class="pic-plus1"></i>
                <h3>SETTING</h3>
                <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.</p>
              </div>
              <div class="m-item-b">
                  <i class="pic-plus2"></i>
                  <h3>MONEY BACK</h3>
                  <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.</p>
                </div>
                <div class="m-item-c">
                    <i class="pic-plus3"></i>
                    <h3>WORLDWIDE SHIPPING</h3>
                    <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.</p>
                  </div>   
                  <div class="m-item-d">
                      <i class="pic-plus4"></i>
                <h3>ONLINE SUPPORT</h3>
                <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.</p>
                      </div>   
          </div>
        </section>
  </div>
  <div class="bottom_block">
    <section>
      <div class="bottom_block_cont">
        <div class="item-a">
          <h4>Популярный аукцион</h4>
          <hr>
           <app-top-auk></app-top-auk>
          </div>
          <div class="item-b">
            <h4>Статистика - График</h4>
            <hr>
            <app-charts></app-charts>
            </div>
            <div class="item-c">
              <h4>Информация</h4>
              <hr>
              <app-home-bottom-menu></app-home-bottom-menu>
              </div>   
      </div>
    </section>
  </div>
</div>