.body_container{
    display: grid;
    grid-template-columns: auto 420px 420px 420px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main main "
      "footer footer footer footer";
    
}
.header {
    grid-area: header;
  }
  .body_content {
    grid-area: main;
  }
  .footer{
    grid-area: footer;
  }
  