.header_container{
    display: grid;
    grid-template-columns: 300px auto 200px 200px auto 300px;
    grid-template-rows: 130px;
    grid-auto-flow: row;
}
.item-a{
    grid-column: 1;
}
.item-b{
    grid-column: 3;
}
.item-c{
    grid-column: 4;
}
.item-d{
    grid-column: 6;
}
.logo{
 margin: 13px auto;

}
.logo_button img{
   height: 100px;
   margin-left: 30px; 
}
.ip{
 
    margin: 55px auto;

    
}
.yur{

    margin: 55px auto;
   
}
.auth{
   
    margin: 50px auto;
    margin-left:60px;
}

a.ip_button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1.5em 1.7em calc(1.5em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
   
    transition: 0.2s;
  } 
a.ip_button:hover { background: rgb(53, 167, 110); }
a.ip_button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }
  a.yur_button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1.5em 1.4em calc(1.5em + 3px);
    border-radius: 3px;
    background: rgb(22, 135, 241);
   
    transition: 0.2s;
  } 
a.yur_button:hover { background: rgb(45, 71, 212); }
a.yur_button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }
a.auth_button {
    font-weight: 700;
    padding-top: 22px;
    color: black;
    
    text-decoration: none;
    padding: 0.8em 2em calc(0.8em + 3px);
    font-size: 24px;
    transition: 0.2s;
    border-radius: 4px;
  } 
a.auth_button:hover { background: rgb(238, 237, 237); }
a.auth_button:active {
    background: rgb(218, 218, 218);
  }
.auth_button img{
    width: 25px;
    height: 25px;
    padding-right: 2px;
    margin-bottom: -5px;

}
.create_case{
  margin-top:20px;
  height: 30px;
  width: 185px;
}
.create_button:hover{
  border-radius: 4px;
  background-color: #f2f2f2;
}
.create_button{
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.info_user{
  margin-top:10px;
  height: 30px;
  width: 205px;
}
.info_button:hover{
  border-radius: 4px;
  background-color: #f2f2f2;
}
.info_button{
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.ifauth{
  margin-top:10px;
  height: 30px;
  width: 185px;
}
.ifauth_button{
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.ifauth_button:hover{
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  background-color: #f2f2f2;
}